export CLIENT_ID=
export CLIENT_SECRET=
export DATABASE_URL=postgres://localhost/deathguild?sslmode=disable
export LOCAL_FONTS=true
export REFRESH_TOKEN=
export S3_BUCKET=deathguild-playlists
export SPOTIFY_USER=deathguild-playlists
export TARGET_DIR=./public
