$sans_serif: helvetica, arial, geneva, sans-serif
$serif: 'Cormorant Garamond', georgia, serif

$highlight: #fff
$primary: #ddd

.clear
  clear: both

html
  // Root font size. All other sizes with "rem" are relative to this.
  //
  // This corresponds to the default font size of 16px.
  // TODO: Update this note once settling on something.
  font-size: 120%

  a
    border-bottom: 1px solid $highlight
    color: $highlight
    padding: 3px 0
    text-decoration: none

    &:hover
      border-bottom: none

    &:visited

    &.playlist
      border-bottom: 0
      color: #fff
      font-size: 1.2rem
      text-decoration: none

      &:hover
        border-bottom: 1px solid $highlight

    &.small
      font-size: 0.55rem !important

    &.spotify
      background: #fff
      border: 1px solid #000
      border-radius: 4px
      color: #000
      font-family: $sans_serif
      font-size: 0.8rem
      padding: 3px 6px
      transition: background 0.3s, color 0.3s

      &:hover
        background: #000
        color: $highlight

  .centered-section
    p, table
      margin-left: auto
      margin-right: auto

  .spotify_id
    background: #fff
    border-radius: 4px
    color: #000
    font-family: $sans_serif
    font-size: 0.6rem
    padding: 3px 6px

    a
      border-bottom: 0
      color: #000

  .width-constrained
    margin: 0 auto
    max-width: 1200px

  body
    background: #000
    color: $primary
    font-family: $serif
    margin: 40px 60px

    #container
      //margin: 0 auto
      //max-width: 1200px

    p.preheader
      color: $primary
      font-size: 2rem
      margin: 40px 0 -50px 0
      max-width: none
      text-align: center

      span.preheader-inner
        border-bottom: 3px solid $highlight
        padding: 10px 30px

    h1
      color: $highlight
      font-size: 10rem
      letter-spacing: -10px
      line-height: 0.8em
      margin: 60px 0
      text-align: center

      &.playlist
        font-size: 8rem
        letter-spacing: -8px

    h2
      border-bottom: 2px solid $highlight
      font-size: 4rem
      letter-spacing: -4px
      margin: 30px 0
      padding: 10px 0

    li
      line-height: 1.5em

    p
      line-height: 1.5em
      max-width: 600px

    p, table
      margin: 20px 0

    strong
      font-weight: bold

    table
      border-collapse: separate
      border-spacing: 18px
      max-width: 1200px
      width: 100%

      caption
        border-bottom: 3px solid #fff
        color: $highlight
        font-size: 1.3rem
        padding: 20px 0

      td
        color: $primary
        line-height: 1em

        &.center
          text-align: center

        &.highlight
          color: $highlight

      th
        font-family: $sans_serif
        font-size: 0.6rem
        font-weight: bold
        line-height: 2em
        text-transform: uppercase

      tr
        &.header
          color: $highlight

          th
            border-bottom: 2px solid #fff

    .footer
      color: $primary
      margin: 70px 0

      a
        color: #fff

        &:hover
          color: #fff

        &:visited
          color: #fff

    .artist-statistics
      display: flex
      justify-content: center
      flex-direction: row

      table
        margin: 0 20px

    .playlist-years
      ul
        li
          display: inline
          float: left
          margin: 10px

    .playlist-year
      p
        max-width: none

      .playlist-year-playlists
        column-width: 250px
        -moz-column-width: 250px
        -webkit-column-width: 250px

        li
          line-height: 1.8em
          break-inside: avoid
          page-break-inside: avoid
          -webkit-break-inside: avoid

@media handheld, only screen and (max-width: 767px), only screen and (max-device-width: 767px)
  html
    body
      margin: 20px 30px

      h1
        font-size: 7rem

        &.playlist
          font-size: 7rem

      .artist-statistics
        flex-wrap: wrap
